/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h2 {font-family: Arial, Helvetica, sans-serif;}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 0 40px 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-width: 800px;
}

.notice, .error {
  padding: 5px 8px;
  margin: 10px 0;
}

.notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.error {
  background-color: #FCC;
  border: solid 1px #C66;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.padded {
  margin-top: 20px;
}

li {
  min-height:50px;
  height:auto !important;
  height:50px;
  line-height:50px;
  padding-left: 10px;
  a {
    text-decoration: none;
  }
}

.even { background: #ffffff; }
.odd { background: #D2FBCF; } 

#toolbarcontainer {
  background-color: #C3FBCD;
  min-height:80px; height:auto !important; height:80px;
}

#toolbar {
  line-height: 80px;
  margin-left: 20px;
}

#toolbar img {
  display: none;
}

#facebook_user_name {
  padding:0;
  margin: 0;
  height: 20px;
}